.comment {
  height: 21rem;
  width: 20%;
  @media only screen and (max-width: 768px) {
    width: 35%;
  }

  @media only screen and (max-width: 480px) {
    width: 65%;
  }
  @media only screen and (max-width: 315px) {
    width: 75%;
  }

  position: relative;
  &__shadow {
    filter: 1rem 1rem 2rem rgba($color-black, $alpha: 0.4);
  }

  &__content {
    height: 21rem;
    padding: 4rem 1rem;
    background-color: rgba($color-white, $alpha: 0.8);
    clip-path: polygon(100% 10%, 100% 100%, 25% 100%, 0 75%, 0 0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::before {
      content: url(/imgs/left-quote.png);
      position: absolute;
      transform: scale(0.7);
      opacity: 0.4;
      top: 3%;
      left: 3%;
    }
  }
  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: -4px 3px 4px 3px rgba($color-black, $alpha: 0.3);
    position: absolute;
    top: -7%;
    right: 5%;
    z-index: 1;
  }

  &__text {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #504f4f;
    text-align: justify;
  }

  &__author {
    font-family: "nunito";
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: right;
  }

  &:nth-child(2),
  &:nth-child(4) {
    align-self: flex-end;
    @media only screen and (max-width: 768px) {
      align-self: flex-start;
    }
    @media only screen and (max-width: 480px) {
      align-self: center;
    }
  }
}
